#discussion-webpart ul {
  list-style: none;
  padding: 0;
}

#discussion-webpart li {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#discussion-webpart .author {
  padding-bottom: 5px;
}
