$bg-header-gradient-top: #007b9c;
$bg-header-gradient-bottom: #003f50;
$teal: #00718f;
$titlefont: 'Raleway', sans-serif;
$bodyfont: 'Cabin', sans-serif;


@mixin linearGradient($top, $bottom){
	background: $top; /* Old browsers */
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $top 0%, $bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $top 0%, $bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$bg-header-gradient-top}', endColorstr='#{$bg-header-gradient-bottom}', GradientType=0 ); /* IE6-9 */
}

body {
	#s4-ribbonrow {
		background: #006b8d;
	}
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* ie 6/7 */
}

.ms-WPBody {
	a {
		&:link,&:visited,&:hover,&:active {
			color: #0072bc;
		}
	}
}

td[title^="Announcements"] {
	h3 {
		span {
			font-size: 18px;
		}
	}
}

#announcements-webpart {
	font-family: $bodyfont;
	margin-left: 15px;
	h1, h2, h3, h4 {
		font-family: $titlefont;
		margin: 0;
		padding: 0;
	}
	h1 {
		border-bottom: 1px solid #e4e4e4;
		font-size: 26px;
		font-weight: 400;
		margin-bottom: 20px;
		padding-bottom: 10px;
		a {
			&:link, &:visited, &:hover, &:active {
				color: #676767;
			}
		}
	}
	h2 {
		color: #ff1493;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 20px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		background-color: #fcfcfc;
		border-top: 1px solid #e4e4e4;
		border-right: 1px solid #bababa;
		border-bottom: 1px solid #bababa;
		border-left: 1px solid #e4e4e4;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 20px;
		padding: 20px;
		img {
			float: right;
			margin-bottom: 20px!important;
			margin-left: 20px!important;
		}
	}
	.metadata {
		border-top: 1px solid #e4e4e4;
		margin-top: 10px;
		padding-top: 10px;
	}

	.announcement-image {
		float: right;
		margin-bottom: 20px !important;
		margin-left: 20px !important;
  		img {
		max-width: 240px;
			height: auto;
		}
	}
}